@font-face {
    font-family: "CalligrapherFont";
    font-weight: bold;
    src: url("../fonts/CalligrapherFont-Regular.otf") format("opentype");
}

html, body {
    margin: 0;
    overflow: hidden;
    height: 100%;
}

#calligrapherCanvas {
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    cursor: grab;
}

#calligrapherCanvas:active {
    cursor: grabbing;
}

.button {
    position: absolute;
    top: 50%;
    width: 40px; height: 20px;
    margin-top: -10px;
    font-family: "Courier New", monospace;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #ff0000;
    transition: padding 150ms;
}

.button#previousButton {
    right: 5px;
}

.button#previousButton:before {
    content: "\279c";
    content: ">";
}

.button#nextButton {
    left: 5px;
}

.button#nextButton:before {
    content: "<";
}

.button#reverseButton {
    top: auto; bottom: 15px;
    left: 5px;
    font-family: "Courier New", monospace;
    font-size: 16px;
    font-weight: bold;
}

.button#reverseButton:before {
    content: "R";
}

.button#reverseButton.reversed:before {
    content: "L";
}

.button#infoButton {
    top: auto; bottom: 15px;
    right: 5px;
    font-family: "Courier New", monospace;
    font-size: 16px;
    font-weight: bold;
}

.button#infoButton:before {
    content: "?";
}

.button:hover {
    color: black;
}

#information {
    position: fixed;
    top: -500px;
    width: 100%;
    padding: 0 16px;
    box-sizing: border-box;
    transition: top 250ms;
}

#information.active {
    top: 15px;
}

#information p {
    max-width: 480px;
    background: rgba( 255, 255, 255, 0.8 );
    border: 1px solid #aaddff;
    border-radius: 16px;
    font-family: "Courier New", monospace;
    font-size: 14px;
    line-height: 1.4;
    padding: 16px;
    margin: 16px auto;
}

.letter-label {
    position: absolute;
    bottom: 8vh;
    left: 0; right: 0;
    font-family: "CalligrapherFont", "Courier New", monospace;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: black;
    pointer-events: none;
}

@media screen and (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: #efefef;
    }
    .button {
        color: #f55b5b;
    }
    .button:hover {
        color: #efefef;
    }
    #information p {
        background: rgba( 0, 0, 0, 0.8 );
    }
}