html, body {
    margin: 0;
    overflow: hidden;
    height: 100%;
}

#calligrapherCanvas {
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
}

.button {
    position: absolute;
    top: 50vh;
    width: 40px; height: 20px;
    margin-top: -10px;
    text-align: center;
    text-decoration: none;
    color: black;
}

.button#previousButton {
    right: 5px;
}

.button#previousButton:before {
    content: "→";
}

.button#nextButton {
    left: 5px;
}

.button#nextButton:before {
    content: "←";
}
